[tool.poetry]
name = "juicenet-cli"
version = "0.26.4"
description = "CLI tool designed to simplify the process of uploading files to usenet"
authors = ["Raventric <raven@juicenet.in>"]
license = "Unlicense"
readme = "README.md"
packages = [{ include = "juicenet", from = "src" }]
homepage = "https://github.com/Ravencentric/juicenet-cli"
repository = "https://github.com/Ravencentric/juicenet-cli"
documentation = "https://ravencentric.github.io/juicenet-cli/"
classifiers = [
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Typing :: Typed",
]

[tool.poetry.urls]
"Contact" = "https://discord.gg/snackbox"

[tool.poetry.dependencies]
python = "^3.9"
PyYAML = "^6.0.1"
alive-progress = "^3.1.5"
loguru = "^0.7.2"
rich = "^13.7.0"
rich-argparse = "^1.4.0"
colorama = "^0.4.6"
tomli = { version = "^2.0.1", python = "<3.11" }
strenum = { version = "^0.4.15", python = "<3.11" }
importlib-metadata = { version = "^7.0.0", python = "<3.10" }
typing-extensions = { version = "^4.8.0", python = "<3.11" }

[tool.poetry.group.dev.dependencies]
ruff = "^0.1.7"
mypy = "^1.7.1"
pre-commit = "^3.5.0"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.5.1"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = ["I"]
fixable = ["ALL"]

[tool.mypy]
strict = true
pretty = true

[[tool.mypy.overrides]]
module = ["colorama", "yaml", "alive_progress"]
ignore_missing_imports = true

[tool.poetry.scripts]
juicenet = "juicenet.__main__:cli"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
