[tool.poetry]
name = "juicenet-cli"
version = "0.14.0"
description = "Crude CLI tool to upload files to Usenet using Nyuu and ParPar"
authors = ["Raventric <78981416+Ravencentric@users.noreply.github.com>"]
license = "Unlicense"
readme = "README.md"
packages = [
    { include = "juicenet"},
]
homepage = "https://github.com/Ravencentric/juicenet-cli"
repository = "https://github.com/Ravencentric/juicenet-cli"
documentation = "https://github.com/Ravencentric/juicenet-cli/wiki"
classifiers = [
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12"
]

[tool.poetry.urls]
"Contact" = "https://discord.gg/snackbox"

[tool.poetry.dependencies]
python = "^3.9"
PyYAML = "^6.0.1"
alive-progress = "^3.1.5"
loguru = "^0.7.2"
rich = "^13.6.0"
rich-argparse = "^1.4.0"
colorama = "^0.4.6"
tomli = { version = "^2.0.1", python = "<3.11" }
strenum = { version = "^0.4.15", python = "<3.11" }
importlib-metadata = { version = "^6.8.0", python = "<3.10" }

[tool.poetry.group.dev.dependencies]
ruff = "^0.1.4"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = ["I"]
fixable = ["ALL"]

[tool.poetry.scripts]
juicenet = "juicenet.__main__:CLI"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
