about-time==4.2.1 ; python_version >= "3.11" and python_version < "4"
alive-progress==3.1.4 ; python_version >= "3.11" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
grapheme==0.6.0 ; python_version >= "3.11" and python_version < "4"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
rich-argparse==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
rich==13.6.0 ; python_version >= "3.11" and python_version < "4.0"
ruff==0.1.4 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
