colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
loguru==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
