annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
cyclopts==2.9.3 ; python_version >= "3.9" and python_version < "4.0"
docstring-parser==0.16 ; python_version >= "3.9" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==8.0.0 ; python_version >= "3.9" and python_version < "3.10"
loguru==0.7.2 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
natsort==8.4.0 ; python_version >= "3.9" and python_version < "4.0"
pydantic-core==2.20.1 ; python_version >= "3.9" and python_version < "4.0"
pydantic==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
rich-rst==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.9" and python_version < "4.0"
strenum==0.4.15 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
zipp==3.19.2 ; python_version >= "3.9" and python_version < "3.10"
