name: Build docs

on:
  push:
    branches:
      - main
    paths:
      - config/juicenet.yaml
      - docs/**/*
      - .github/workflows/docs.yml
      - mkdocs.yml
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install pipx
        run: python -m pip install pipx

      - name: Install poetry
        run: pipx install poetry

      - name: Setup a local virtual environment
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - uses: actions/cache@v3
        with:
          key: docs-${{ hashFiles('poetry.lock') }}
          path: ./.venv
          restore-keys: |
            docs-

      - name: Install dependencies
        run: poetry install --only docs

      - name: Deploy docs
        run: poetry run mkdocs gh-deploy --force
